/* common start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,li{
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 0.8;
}
 /* common end */


 /* navbar css start */
 .navbar{
    background: #1C1E53;
 }
 .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 32px;
    padding-left: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color:#fff;
}
.navbar-expand-lg .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 48px;
}
.nav-btn button{
    padding: 16px 48px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
    background: transparent;
    border-color: rgba(244, 246, 252, 0.2);
    border-radius: 41px;
}
 /* navbar css end */



 /* form part start */
 #form{
    padding: 128px 0;
 }
 #form .form-title h1{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    color: #282938;
 }
 #form .form-title p{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(40, 41, 56, 0.7);
 }
 #form .form-part{
    padding: 55px 77px 69px 77px;
    background: #F4F6FC;
    border-radius: 12px;
 }
 #form .contacts-form label{
    display: block;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
 }
 #form .contacts-form input {
    padding: 18px 230px 18px 32px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
    border-radius: 10px;
    border:1px solid rgba(0, 0, 0, 0.12);
    background: #F4F6FC;
 }
 #form .contacts-form .unique-input {
    padding: 18px 676px 92px 32px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
 }
 #form .form-btn button {
    padding: 16px 64px;
    margin-top: 32px;
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    background: #282938;
    color: #F4F6FC;
    border-radius: 41px;
    border-color:1px solid#282938;
    border-style: solid;
 }
 /* form part end */



  /* <!-- footer part start --> */
  #footer-part{
    padding-top: 128px;
    padding-bottom: 0;
    background: #1C1E53;
  }
  #footer-part .footer-paragraph p{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.8);
    padding-top: 20px;
  }
  #footer-part .footer-title h2{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    color: #FFFFFF;
  }
  #footer-part .footer-icons i {
    font-size: 16px;
    color: #FFFFFF;
    padding-right: 26px;
  }
  #footer-part .footer-contact-wrapper{
    display: flex;
    background: #FCD980;
  }
  #footer-part .footer-contact-wrapper .contacts{
    padding-left: 30px;
  }
  #footer-part .footer-contact-wrapper .contacts h5{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #282938;
  }
  #footer-part .footer-contact-wrapper .contacts p{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(40, 41, 56, 0.8);
  }
  /* <!-- footer part start --> */
 
 
 
  /* <!-- copyright part start --> */
  #copyright{
   padding-top: 32px;
   padding-bottom: 32px;
  }
  #copyright .rights p{
   font-family: 'Poppins';
   font-weight: 500;
   font-size: 16px;
   line-height: 28px;
   color: #282938;
  }
  #copyright .menu-items ul{
   display: flex;
  }
  #copyright .menu-items ul li a{
   padding-right: 32px;
   font-family: 'Poppins';
   font-weight: 500;
   font-size: 16px;
   line-height: 28px;
   color: #282938;
  }
  #copyright .menu-items ul li:last-child{
   padding-right: 0;
  }
  /* <!-- copyright part start --> */